.navigator {
  min-width: 100%;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: black solid 0.08rem;
}

.navigator-menu-icon {
  width: 10%;
  height: 100%;
  margin-left: 0.3rem;
}

.navigator-logo-icon {
  height: 100%;
}

.navigator-setting-icon {
  width: 10%;
  height: 100%;
  margin-right: 0.3rem;
}

.navigator-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.navigator-home-button {
  width: 5rem;
  height: 1.5rem;
  background-color: rgb(236, 109, 109);
  padding: 0.3rem;
  border: 0.2rem;
  border-style: solid;
  border-color: rgb(230, 129, 129);
  border-radius: 0.3rem;
  text-align: center;
}

.navigator-home-button:active {
  background-color: rgb(212, 87, 87);
  border-color: rgb(212, 87, 87);
}

.navigator-detail-search-button {
  width: 5rem;
  height: 1.5rem;
  background-color: rgb(236, 109, 109);
  padding: 0.3rem;
  border: 0.2rem;
  border-style: solid;
  border-color: rgb(230, 129, 129);
  border-radius: 0.3rem;
  text-align: center;
}

.navigator-detail-search-button:active {
  background-color: rgb(212, 87, 87);
  border-color: rgb(212, 87, 87);
}
