.navigator {
  min-width: 100%;
  height: 110px;
  border-bottom: 1px solid black;
}

.navigator .menu-icon {
  height: 40px;
  margin-top: 10px;
  padding-bottom: 20px;
}
.navigator-menu-icon {
  width: 28px;
  height: 28px;
  margin: 12px;
}

.left {
  float: left;
}

.center{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.right{
  float: right;
}

.navigator .navigator-menu-btn {
  height: 45px;
}
.navigator button.navigator-btn {
  background-color: #028C6A;
  width: 45%;
  height: 40px;
  border-radius: 8px;
  font-size: 18px;
  border: 0;
}

.navigator button.navigator-btn.selected {
  background-color: #7BC5AE;
  margin-left: 3%;
}

.navigator button.navigator-btn {
  margin-right: 3%;
}
