.wrap-recommend {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: black solid 0.08rem;
}

.recommend-title {
  text-align: left;
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: black solid 0.08rem;
}

.recommend-slider {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}


.wrap-recommend-item {
  display: inline-flex;
  flex-direction: row;
  min-width: 100%;
}

.recommend-item-poster {
  max-width: 50%;
}

.animate {
  transition: all .5s ease-out;
}
